<div class="container-fluid">
    <h1>{{post.title}}</h1>
    <hr>
    <div id="outputText" ng-bind-html="outputText"></div>
    <br>
    <hr>
    <div class="btn-group" role="group" ng-repeat="tag in tags">
        <button type="button" class="btn" style="color: white" ng-style="{'background-color':'#'+tag.color}">{{tag.name}}</button>
        <button class="btn btn-danger" ng-click="removeTag(tag)"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
    <br>
    <button type="text" uib-popover-template="'myPopoverTemplate.html'"  popover-trigger="focus" class="btn btn-default" ng-click="showTag()" popover-placement="right">find tags</button>
    <br>
    <div class="row">
        <div class="col-md-3">
            <input type="text" ng-model="tag.name" class="form-control" placeholder="tag name">
        </div>
        <div class="col-md-3">
            <input type="text" ng-model="tag.color" class="form-control" placeholder="tag color">
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" ng-click="addTag(tag)">add tag</button>
            <button type="button" class="btn btn-success" ng-click="addPost()">Save</button>
        </div>
    </div>
    <h3 ng-click="toggle = !toggle" ng-hide="toggle" class="text-center">{{post.title}}</h3>
    <input type="text" class="form-control" placeholder="title" ng-show="toggle" ng-blur="toggle = !toggle"
           ng-model="post.title">

    <div ui-ace id="inputText" ng-model="post.content"></div>

    <script type="text/ng-template" id="myPopoverTemplate.html">
        <h4>Choose from here:</h4>
        <button type="button" class="btn" style="color: white;" ng-repeat="d_tag in distinct_tags" ng-click="addShowTag(d_tag)" ng-style="{'background-color':'#'+d_tag[1]}">{{d_tag[0]}}</button>&nbsp;
    </script>

</div>