<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-md-12">
        <h2 class="post">All Posts <a class="btn btn-info" ui-sref="post" role="button" ng-show="authenticated">New
            Post</a></h2>
        <div class="post-item" ng-repeat="post in blogCtrl.posts">
            <a ui-sref="detail({blogId:post.id})">
                <h2>{{post.title}}</h2>
                <p>{{post.pubDate | date: 'longDate'}}</p>
                <div class="tag_label" ng-repeat=" tag in post.tags">
                    <a class="label" href="#" ng-style="{'background-color':'#'+tag.color}">{{tag.name}}</a>&nbsp;
                </div>
            </a>
            <div class="pull-right" ng-show="authenticated">
                <button type="button" class="btn btn-warning" ng-click="changePost(post)">change</button>
                <button type="button" class="btn btn-danger" ng-click="deletePost(post)">delete</button>
            </div>
        </div>
    </div>

    <nav class="text-center">
        <uib-pagination total-items="blogCtrl.totalElements" ng-model="currentPage" max-size="maxSize"
                        class="pagination-sm"
                        boundary-link-numbers="true" rotate="false" items-per-page="pageSize"
                        previous-text='Prev'></uib-pagination>
    </nav>

</div>